<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <title>Forum</title>
    <link href="style.css" rel="stylesheet" />
</head>

<body>
    <div class="sep"></div>
    <div id="content">
        `threads`
        <a href="/new_thread"><button id="add_thread">New Thread</button></a>
        <div class="sep"></div>
    </div>
    <div class="sep"></div>
</body>

</html>